<article class='post-card-wrap column medium-6 large-4 {{ passed_class }}'>
  <div class='post-card {{#if featured}} post-card--featured {{/if}}'>

    <div class='post-card__media grey-bg'>
      <a href='{{ url }}' class='post-card__image-wrap' aria-hidden='true' tabindex='-1'>
        <img src="{{img_url feature_image size="m"}}" alt="{{title}}" class="grey-bg post-card__image">
        {{#if featured}}
        <span title='{{t "Featured Post" }}'>
          <span class='post-card--featured__icon' data-icon='ei-star' data-size='s'></span>
        </span>
        {{/if}}
      </a>
    </div>

    <div class='post-card__meta'>
      {{#primary_author}}
        <span class='post-card__meta__author-name'>
          <a href='{{ url }}'>{{ name }} </a> -
        </span>
      {{/primary_author}}
      <time class='post-card__meta__date' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMMM YYYY' }}</time>
    </div>

    <h2 class='post-card__title post-card__title--medium'>
      <a href='{{ url }}'>{{ title }}</a>
    </h2>

  </div>
</article>