<article class='post-card-wrap column medium-6 large-4 {{ passed_class }}'>
  <div class='post-card {{#if featured}} post-card--featured {{/if}}'>
    <a href='{{ url }}' class='block' title='{{ title }}'>
      <div class='grey-bg post-card__image CoverImage FlexEmbed FlexEmbed--16by9' {{#if feature_image}} style='background-image: url({{ feature_image }}) {{/if}}'>
        {{#if featured}}
        <span title='{{t "Featured Post" }}'>
          <span class='post-card--featured__icon' data-icon='ei-star' data-size='s'></span>
        </span>
        {{/if}}
      </div>
    </a>

    <div class='post-card__meta'>
      {{#primary_author}}
        <span class='post-card__meta__author-name'>
          <a href='{{ url }}' title='{{ name }}'>{{ name }} - </a>
        </span>
      {{/primary_author}}
      <time class='post-card__meta__date' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMMM YYYY' }}</time>
    </div>

    <h2 class='post-card__title post-card__title--medium'>
      <a title='{{ title }}' href='{{ url }}'>{{ title }}</a>
    </h2>

  </div>
</article>