<div class='sidebar'>
  <div class='row'>

    <div class='column small-10 large-12'>
      {{#if @site.logo}}
        <a class='logo' href='{{ @site.url }}'><img class='logo__img' src='{{ @site.logo }}' alt='{{ @site.title }}'></a>
      {{else}}
        <h1 class='logo'><a href='{{ @site.url }}'>{{ @site.title }}</a></h1>
      {{/if}}
      <div class='sidebar__description font-small'>{{ @site.description }}</div>
    </div>

    <label class='off-canvas-toggle'><span data-icon='ei-navicon' data-size='s'></span></label>

    <div class='off-canvas-content'>

      <div class='column large-12'>
        <nav class='navigation'>
          <ul class='list-bare text-center'>
            {{ navigation }}
            {{#if @labs.members}}
              {{#if @member}}
                <li><a href='/account/' class='c-nav__link'>{{t 'Account' }}</a></li>
                <li><a href='#signout' class='c-nav__link' data-members-signout>{{t 'Log Out' }}</a></li>
              {{else}}
                <li><a href='/signin/'>{{t 'Log In' }}</a></li>
                <li><a href='/signup/' class='regular u-link'>{{t 'Sign Up' }}</a></li>
              {{/if}}
            {{/if}}
            <li><a class='subscribe-button icon-feed' href='{{ @site.url }}/rss/'>RSS</a></li>
          </ul>
        </nav>
      </div>

      <div class='column large-12'>
        <ul class='social-nav social-icons'>
          {{# if @site.twitter}}
            <li>
              <a href='{{ twitter_url }}' target='_blank'>
                <span data-icon='ei-sc-twitter' data-size='s'></span>
              </a>
            </li>
          {{/if}}
          {{# if @site.facebook}}
            <li>
              <a href='{{ facebook_url }}' target='_blank'>
                <span data-icon='ei-sc-facebook' data-size='s'></span>
              </a>
            </li>
          {{/if}}
          <li>
            <a href='https://instagram.com/{{! Add Instagram handle }}' target='_blank'>
              <span data-icon='ei-sc-instagram' data-size='s'></span>
            </a>
          </li>
          <li>
            <a class='toggle-search-button' href='#'>
              <span data-icon='ei-search' data-size='s'></span>
            </a>
          </li>
        </ul>
      </div>

      <div class='sidebar__copy'>
        <div class='column large-12'>
          <div class='font-tiny'>
            &copy; {{ date format='YYYY' }} {{ @site.title }} - {{{t "Published with {ghostlink}" ghostlink="<a class='color-grey' href=\"https://ghost.org\">Ghost</a>" }}}
          </div>
        </div>
      </div>

    </div> {{! off-canvas-content }}

  </div> {{! row }}
</div> {{! sidebar }}

{{> search-form}}