<p class="separator">
  <span class="separator__title">{{t 'Newsletter' }}</span>
</p>

<div class="box box--news-letter subscribe-form">
  <form data-members-form='subscribe' class='subscribe-form'>
    <div class='form-group'>
      <label for='subscribe-form-email' class='u-hidden-visually'>{{t 'Your email ' }}</label>
      <input type='email' id='subscribe-form-email' placeholder='{{t 'Email ' }}' data-members-email>
      <button type='submit' class='button'>{{t 'Subscribe' }}</button>
    </div>

    <div class='u-alert u-alert--success u-mt-8'>{{t 'Please check your inbox and click the link to confirm your subscription.' }}</div>
    <div class='u-alert u-alert--invalid u-mt-8'>{{t 'Please enter a valid email address!' }}</div>
    <div class='u-alert u-alert--error u-mt-8'>{{t 'An error occurred, please try again later.' }}</div>
  </form>
</div>