{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class='wrapper'>

  <div class='row row--full'>
    <div class='column large-12'>
      {{#author}}
        <div class='box box--author'>

          {{#if profile_image}}
            <figure class='author-image'>
              <div class='img' style='background-image: url({{ profile_image }})'><span class='hidden'>{{ name }}'s Picture</span></div>
            </figure>
          {{/if}}

          <div class='box__body'>

            <h1 class='box__title'>
              <a href='{{ url }}'>{{ name }}</a>
            </h1>

            {{#if bio}}
              <p class='box__text'>{{ bio }}</p>
            {{/if}}

            <div class='author-meta box__text'>
              {{#if twitter}}
                <div class='inline-block'>
                  <a href='{{ twitter_url }}' target='_blank'>
                    <span data-icon='ei-sc-twitter' data-size='s'></span>
                  </a>
                </div>
              {{/if}}

              {{#if facebook}}
                <div class='inline-block'>
                  <a href='{{ facebook_url }}' target='_blank'>
                    <span data-icon='ei-sc-facebook' data-size='s'></span>
                  </a>
                </div>
              {{/if}}

              {{#if website}}
                <div class='inline-block'>
                  <a href='{{ website }}'>
                    <span data-icon='ei-link' data-size='s'></span>
                  </a>
                </div>
              {{/if}}

              {{#if location}}
                <div class='inline-block'>
                  <span data-icon='ei-location' data-size='s'></span>
                  {{ location }}
                </div>
              {{/if}}
            </div>

          </div>

        </div>
      {{/author}}
    </div>
  </div>

  <div class='row row--full'>
    <div class='post-list'>
      {{> loop}}
    </div>
  </div>

  <div class='row row--full'>
    {{pagination}}
  </div>

</div>