{{!< default}}

{{! The comment above '< default' means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<div class='wrapper'>
  <div class='row row--full'>

    <div class='column column--center medium-12 large-12'>
      <div class='grey-bg CoverImage FlexEmbed FlexEmbed--16by9' {{#if feature_image}} style='background-image: url({{ feature_image }}) {{/if}}'></div>
    </div>

    <div class='column column--center medium-10 large-10'>
      <article class='{{ post_class }}'>
        <header class='post__header'>
          <h1 class='post__title'>{{ title }}</h1>
          <div class='post__meta'>
            <time datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMMM YYYY' }}</time> .
            <span>{{ reading_time minute=(t '1 min read') minutes=(t '% min read') }}</span>
          </div>
        </header>

        <div class='post-content'>
          {{ content }}
        </div>

        {{#if access}}
          <div class='post__tags'>
            {{tags separator=''}}
          </div>

          <hr>

          {{#primary_author}}
            <div class='box box--author'>

              {{#if profile_image}}
                <figure class='author-image'>
                  <div class='img' style='background-image: url({{ profile_image }})'><span class='hidden'>{{ name }}'s Picture</span></div>
                </figure>
              {{/if}}

              <div class='box__body'>

                <h4 class='box__title'>
                  <a href='{{ url }}'>{{ name }}</a>
                </h4>

                {{#if bio}}
                  <p class='box__text'>{{ bio }}</p>
                {{/if}}

                <div class='author-meta box__text'>
                  {{#if twitter}}
                    <div class='inline-block'>
                      <a href='{{ twitter_url }}' aria-label='Twitter' target='_blank' rel='noopener noreferrer'>
                        <span data-icon='ei-sc-twitter' data-size='s'></span>
                      </a>
                    </div>
                  {{/if}}

                  {{#if facebook}}
                    <div class='inline-block'>
                      <a href='{{ facebook_url }}' aria-label='Facebook' target='_blank' rel='noopener noreferrer'>
                        <span data-icon='ei-sc-facebook' data-size='s'></span>
                      </a>
                    </div>
                  {{/if}}

                  {{#if website}}
                    <div class='inline-block'>
                      <a href='{{ website }}'>
                        <span data-icon='ei-link' data-size='s'></span>
                      </a>
                    </div>
                  {{/if}}

                  {{#if location}}
                    <div class='inline-block'>
                      <span data-icon='ei-location' data-size='s'></span>
                      {{ location }}
                    </div>
                  {{/if}}
                </div>

              </div>

            </div>
          {{/primary_author}}

          {{> share}}

          {{> post-prev-next-pagination}}
        {{/if}}

        {{#unless @member}}
          {{#if access}}
            {{> subscribe-form}}
          {{/if}}
        {{/unless}}

        {{#unless access}}
          <hr>
          {{> post-upgrade-cta }}
        {{/unless}}

        {{#if access}}
          {{> disqus}}
        {{/if}}
      </article>
    </div>

  </div> {{! row }}
</div> {{! wrapper }}

{{/post}}