{{!< ../default}}

<div class='wrapper'>
  {{#if @member.paid}}
    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
  {{else if @member}}
    <div class='row row--full'>
      <div class='column large-12'>
        <header class='page-header box'>
          <div class='box__body'>
            <h4 class='box__title'>{{t 'Choose your subscription'}}</h2>
            <p class='box__text'>{{t 'Unlock full access to {siteTitle} and see the entire library of members-only content & updates.' siteTitle=@site.title}}</p>
          </div>
        </header>
      </div>
    </div>

    <div class='row row--full'>
      <div class='column large-8'>
        {{> signup-plans }}
      </div>
    </div>

  {{else}}
  {{!-- Not logged in: Subscribe --}}
    <div class='row row--full'>
      <div class='column large-12'>
        <header class='page-header box'>
          <div class='box__body'>
            <h4 class='box__title'>{{t 'Subscribe to {siteTitle}' siteTitle=@site.title}}</h2>
            <p class='box__text'></p>
          </div>
        </header>
      </div>
    </div>

    <div class='row row--full'>
      <div class='column medium-6 large-5'>
        <div class="box box--news-letter subscribe-form">
          <form data-members-form='subscribe' class='subscribe-form'>
            <div class='form-group'>
              <input type='email' placeholder='{{t 'Your email' }}' data-members-email>
              <button type='submit' class='button'>{{t 'Continue' }}</button>
            </div>

            <div class='u-alert u-alert--success u-mt-8'>{{t 'Please check your inbox and click the link to confirm your subscription.' }}</div>
            <div class='u-alert u-alert--invalid u-mt-8'>{{t 'Please enter a valid email address!' }}</div>
            <div class='u-alert u-alert--error u-mt-8'>{{t 'An error occurred, please try again later.' }}</div>
          </form>
        </div>

        <p class='font-small'>{{t 'Already have an account?' }} <a href='{{ @site.url }}/signin/' class='u-link'>{{t 'Log In' }}</a></p>
      </div>
    </div>
  {{/if}}
</div>